@import "tailwindcss";

@theme {
  --color-gray-medium: #808080;
  --color-platinum: #E4E5E4ff;
  --color-gray-dark: #7D7D7Dff;
}

.font-inter {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-dm-sans {
  font-family: var(--font-dm-sans), system-ui, sans-serif;
}

.font-astrup {
  font-family: var(--font-astrup), system-ui, sans-serif;
}

.font-general-sans {
  font-family: var(--font-general-sans), system-ui, sans-serif;
}
